<app-auth-layout rightImage="/assest/sign-in.png" rightImageAlt="Verify Code Image" heading="Verify Code"
    subHeading="An authentication code has been sent to your email."
    showBackButton="false">
    <form form class="login-form forgot-form" [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode()">
        <div class="form-group">
            <label for="code">Enter Code</label>
            <input type="text" id="code" placeholder="7789BM" formControlName="verificationCode" />
            
        </div>
        <small class="requiredTag" *ngFor="let msg of getformError('verificationCode')">{{msg}}</small>
        <p class="resendCode">Didn’t receive a code? <a href="">Resend</a></p>
        <button type="submit" class="submit-btn" [disabled]="verifyCodeForm.invalid">Verify
              <span class="spinner" *ngIf="spinner"></span>
        </button>
    </form>
    <div class="c"></div>
    <div class="social-login">
    </div>


</app-auth-layout>