



<app-auth-layout rightImage="/assest/new-password.png" rightImageAlt="Set New Password Image"
    heading="Set a new password"
    subHeading="Your previous password has been reset. Please set a new password for your account."
    showBackButton="false">

    <form [formGroup]="ResetPasswordForm" (ngSubmit)="ResetPasswordFormData()" class="login-form forgot-form">
        <div class="form-group password-group">
            <label for="newPassword">New Password</label>
            <input [type]="showPasswordtoggle ? 'text' : 'password'" id="newPassword" placeholder="••••••••" formControlName="password" />
              <i class="fa"[ngClass]="showPasswordtoggle ? 'fa-eye-slash' : 'fa-eye'"(click)="showPassword()"></i>
               <small class="requiredTag" *ngFor="let msg of getformError('password')">{{msg}}</small>
        </div>
        <div class="form-group password-group">
            <label for="confirmNewPassword">Re-enter Password</label>
            <input [type]="confirmPassword? 'text' : 'password'" id="confirmNewPassword" placeholder="••••••••" formControlName="confirmPassword" />
              <i class="fa"[ngClass]="confirmPassword ? 'fa-eye-slash' : 'fa-eye'"(click)="showConfirmPassword()"></i>
              <small class="requiredTag" *ngFor="let msg of getformError('confirmPassword')">{{msg}}</small>
        </div>
        <button type="submit" class="submit-btn" [disabled]="ResetPasswordForm.invalid">Set Password
             <span class="spinner" *ngIf="spinner"></span>
        </button>
    </form>
</app-auth-layout>