<header class="header" [class.darkMode]="theme.themeMode() == 'dark'">
  <!--  toggle start  -->
  <div class="header-left-side">
    <button (click)="toggle()" class="togglebutton" >
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

    <div class="toggleInputSearch">
      <input type="search" placeholder="Search">
      <i class="fas fa-search search-icon"></i>
    </div>
  </div>
  <!-- toggle end -->


  <div class="header-right-side">
    <!-- notification icon -->
    <section class="ChangingTheme-section">
      <mat-slide-toggle
            class="themebtn"
            [checked]="theme.themeMode() == 'dark'"
            (change)="theme.toggleTheme()"
          >
        {{theme.themeMode() | titlecase}} Mode
      </mat-slide-toggle>
    </section>
  
    <div class="details-box">
     
     <app-notification-dropdown></app-notification-dropdown>
    <!-- language selection icon -->
    <!-- <app-language></app-language> -->
    </div>

  <app-profile-dropdown></app-profile-dropdown>
  </div>


</header>