<app-auth-layout rightImage="/assest/forgot-password.png" rightImageAlt="Forgot Password Image"
    heading="Forgot your password?"
    subHeading="Don’t worry, happens to all of us. Enter your email below to recover your password." 
    showBackButton="false">


    <form class="login-form forgot-form" [formGroup]="forgotForm" (ngSubmit)="ForgotFormSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="john.doe@gmail.com" name="email" formControlName="email"/>
             <small class="requiredTag" *ngFor="let msg of getformError('email')">{{msg}}</small>
        </div>
       <div class="spinner-class">
         <button type="submit" class="submit-btn" [disabled]="forgotForm.invalid" style="margin-top: 20px;">Submit  <span class="spinner" *ngIf="spinner"></span></button>
        
       </div>

    </form>
    <div class="divider"><span>Or login with</span></div>
    <div class="social-login">
        <button class="social-btn facebook">
            <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook">
        </button>
        <button class="social-btn google">
            <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png" alt="Google">
        </button>
        <button class="social-btn linkedin">
            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
        </button>
    </div>
</app-auth-layout>